@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

*{
	/*border : 1px solid black;*/
}

body, a, h1, h2, h3, h4, h5, h6, div, ul, li, button, ol, input{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	outline: none;
}